<!--
 * @Autor: Zver
 * @Date: 2022-03-23 19:08:52
 * @LastEditTime: 2022-05-16 20:35:56
-->
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{css/demo01.css}" />
    <title>Form Input Wave</title>
</head>
<body>
<div class="container">
    <h1>管理登录</h1>
    <p th:text="${msg}" style="color: red"></p>
    <form th:action="@{/user/login}" method="post">
        <div class="form-control">
            <input type="text" name="name" required >
            <label>Name</label>

        </div>

        <div class="form-control">
            <input type="password"  name="password" required >
            <label>Password</label>
        </div>

        <button class="btn" type="submit">Login</button>

        <p class="text">Don't have an account? <a th:href="@{/register.html}">Register</a> </p>
        <p class="text">forget password? <a th:href="@{/find.html}">retrieve password</a> </p>
    </form>
</div>
<script th:src="@{js/demo01.js}"></script>
</body>
</html>
